.TypingInfo {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 25%;
    display: -ms-flexbox;
    -ms-flex-pack: justify;
}

@media only screen and (max-width: 600px) {
    .TypingInfo {
        margin: 0 15%;
    }
}

@media only screen and (max-width: 400px) {
    .TypingInfo {
        margin: 0 8%;
    }
}